@model Ideas.Models.User

<p>Name: @Model.FirstName @Model.LastName</p>
<p>Alias: @Model.Alias</p>
<p>Email: @Model.Email</p>
<p>Num of Ideas: @ViewBag.IdeaCount</p>
<p>Num of Likes: @ViewBag.LikeCount</p>